@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--subtle-inset-shadow: inset 0 1px 1px #ffffff2e, inset 0 -1px 1px #0000000a;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer components {
	.btn {
		box-shadow: var(--subtle-inset-shadow);
		animation: none;
	}
}

.carta-font-code {
	font-family: 'Inter Variable';
}

.carta-editor {
	--border-color: #9ca3af4d;
}

#nprogress .bar {
	background: #0069ff !important;
	height: 4px;
}

#nprogress .peg {
	box-shadow:
		0 0 10px #0069ff,
		0 0 5px #0069ff;
}
